<div class="well">
  <%= form_for @post do |f| %>
    <div class="control-group">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div class="control-group">
      <%= f.label :url %>
      <%= f.text_field :url %>
    </div>
    <div class="control-group">
      <%= f.label :description %>
      <%= f.text_area :description, rows: 5 %>
    </div>
    <div class="control-group">
      <%= f.label :category_ids, 'Categories' %>
      <%# Note the use of 'category_ids' (not 'categories' or 'category_id'): %>
      <%= f.collection_select(:category_ids, Category.all, :id, :name, {}, multiple: true) %>

      <%= f.label "Categories" %>
      <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |cb| %>
        <% cb.label(class: "checkbox inline") { cb.check_box(class: "checkbox") + cb.text } %>
      <% end %>

      <%# <%= f.select(:categories, [ %>
      <%#   ['programming', 1], %>
      <%#   ['movies', 2], %>
      <%#   ['food', 3] %>
      <%# ]) %1> %>

      <%# <select id="categories" name="categories"> %>
      <%#   <option value="1">programming</option> %>
      <%#   <option value="2">movies</option> %>
      <%# </select> %>
    </div>
    <br />
    <%= f.submit @post.new_record? ? 'Create Post' : 'Update Post', class: "btn btn-primary" %>
  <% end %>
</div>
